.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #6495ed; /*dark blue*/
}

#footer2 {
    background: #00008b; /*cornflowerblue*/
}
